@{
    ViewBag.Title = "About";
}

<!-- Page Content -->
<div class="container">

    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About Us
                <small>It's Nice to Meet You!</small>
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
        </div>
    </div>
    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Equipa Maker</h2>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle tam-img" src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10600364_970237343002467_2737185647661707849_n.jpg?oh=85757cb7781ce5e3b4c646dd653428de&oe=56C46555" alt="">
            <h3>
                Mitchell Mauricio
            </h3>
            <p>O Maker Numero 1</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle tam-img" src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/11811503_1653220104964176_790557993155129715_n.jpg?oh=d9fdd838ad7eeaf80c3a1e515715dbdd&oe=56C7844A" alt="">
            <h3>
                António Nunes
            </h3>
            <p>O Maker Numero 2</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle tam-img" src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/12193432_1060716823973377_1872271344875548837_n.jpg?oh=0300c8b510578f55443b22c877a7041a&oe=56B017ED" alt="">
            <h3>
                Andre Maia
            </h3>
            <p>O Maker Numero 3</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle tam-img" src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/17475_1144602189527_6510538_n.jpg?oh=b64d28a869b436f7586cb4c5019428de&oe=56F895E7" alt="">
            <h3>
                Diogo Rodrigues
            </h3>
            <p>O Maker Numero 4</p>
        </div>
    </div>
